.reveal section p {
    font-weight: bold !important;
    font-size: 1.1em !important;
}

.reveal section img {
    background:none;
    border:none;
    box-shadow:none;
    height: 480px;
    width: 640px;
}

.reveal pre code {
    font-size: 0.6em !important;
}




/* Reveal.js plugin */

code.line-numbers {
  counter-reset: line_numbers;
}

code span.line-number {
  counter-increment: line_numbers;
}

code span.line-number:before {
  content: counter(line_numbers, decimal-leading-zero);
  color: gray;
}

code span.highlight-line:before {
  color: yellow;
}